@media screen and (min-width: 1024px) {
  .navbar-container {
    max-width: 1024px;
    margin-left: calc( 50vw - 512px );
  }

}

.navbar-logo {
   width: 30%;
   font-size: 2vw;
   font-weight: 600;
   margin: 2vh;
  float: left;
}

.site-menu-component {
  float: right;
  width: 60%;
  margin: 3vh 2vh 2vh 0;
  font-weight: 800;
}

.menu-component {
  float: right;
  width: 33%;
  text-align: center;
}

.product-menu-component {
  width: 98%;
  overflow-y: auto;
  margin: 1.5%;
}

.product-submenu {
  width: auto;
  float: left;
  margin-right: 2vw;
  font-weight: 600;
}

.social-icons {
  width: auto;
  overflow-y: auto;
  float: right;
  margin-right: 2%;
}

#in-store-deals-button {
  color: red;
}

.navbar-top-social-icon-component {
  font-size: 1.5vw;
  color: #212729;
}

.subMenu-left-container {
  width: auto;
  overflow-y: auto;
  float: left;
  margin-top: 0.5%;
  margin-left: 1%;
}

.home-featured-item-header {
  width: 100%;
  overflow-y: auto;
  font-size: 2vw;
  color: black;
  text-align: center;
  font-weight: 600;
  margin-top: 5vh;
}

.home-featured-item-subheader {
  text-align: center;
  font-size: 1vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-weight: 600;
}

.heart-pink {
  color: #FAB4D1;
}

.home-featured-item {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}